@font-face {
    font-family: MontserratThin;
    src: url(../fonts/Montserrat-Thin.ttf);
}

nav {

    text-align: center;
    font-family: MontserratThin;
}

a.navbar-brand {
    margin: auto;
    text-decoration: none;
    font-size: 3.5rem;
    color: #ffffff;
}

a.nav-link {
    margin: auto;
    color: #ffffff;
    width: 100%;
    font-size: 1.7rem;
    text-decoration: none;
}

a.nav-link:hover {
    color: #000000;
    background-color: #ffffff;
    transition: 0.8s;
}

body {
    background: rgb(188,243,254);
  background: linear-gradient(90deg, rgba(188,243,254,1) 0%, rgba(132,219,255,1) 25%, rgba(122,187,236,1) 37%, rgba(114,163,222,1) 65%, rgba(107,138,208,1) 86%);
    text-rendering: optimizeSpeed;
}